body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 50px;
    background-color: #f4f4f4;
    background-image:  url("Images/WeatherAppBG.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#weather {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#city {
    font-size: 2em;
}

#temperature {
    font-size: 4em;
}

#details {
    font-size: 1em;
}
